defaults {
	serverURL = "http://localhost:8185/serena_ra"
	username = "admin"
	password = "admin"
}	
mapping {
	"Microsoft.Web.Infrastructure" {
		component = "ms-web-infra"
		username = "admin"
		password = "admin"
	}
	artifact2 {
		component = "sdaComponent2"
		username = "admin"
		password = "admin"
	}
}
