defaults {
	serverURL = "http://localhost:8080/serena_ra"
	username = "admin"
	password = "admin"
	mapByDefault = false 		// NOT YET USED
	createProps = false 		// NOT YET USED
	enhancedProps = false 		// NOT YET USED
}	
mapping {
	"Microsoft.Web.Infrastructure" {
		component = "ms-web-infra"
		username = "admin"
		password = "admin"
		status = "BUILT" 		// NOT YET USED
		process = "Deploy" 		// NOT YET USED
	}	
	"com.google.collections.google-collections" {
		component = "google-collections"
	}
	com {
		google {
			code {
				gson {
					component = "gson"
				}
			}
		}
	}
}
